header {
    background-color: #26A69A;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 20px;
}

.opcoes {
    display: inline-block;
    margin-left: 50px;
}

.opcoes img {
    float: left;
}

.item {
    padding-top: 4px;
    display: inline-block;
    color: aliceblue;
}

.item:hover {
    text-decoration: underline;
}

.item a {
    color: #E0F2F1;
    margin: 30px;
}

a, h2 {
    font-family: 'Museo', sans-serif;
    text-decoration: none;
    color: rgb(42, 42, 42);
}

body {
    font-family: system-ui;
    color: rgb(42, 42, 42);
    padding-top: 100px;

}

.catalogo {
    display: flex;
    flex-direction: column;
}

.catalogo-topo {
    position: relative;
    left: auto;
    border-bottom: 1px solid #ccc;
}

.catalogo h1 {
    text-align: left;
    text-transform: uppercase;
    font-size: 35px;
    margin-left: 20px;
    width: max-content;
    font-family: 'Franklin Gothic Medium', sans-serif;
}

.catalogo-livros {
    padding: 20px 140px 60px;
    display: flex;
    justify-content: flex-start; 
    flex-wrap: wrap; 
}

.catalogo-livros h2 {
    position: relative;
    left: 0;
    text-align: left;
    width: -webkit-fill-available;
}

.livro {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 6px;
    text-align: center;
    margin: 20px;
    padding: 25px;
    padding-bottom: 10px;
    transition: 0.35s ease-in-out;
    overflow: hidden; 
}

.livro:hover {
    overflow: hidden;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.livro img {
    width: 200px;
    height: 280px;
    object-fit: cover;
    border-radius: 5px;
}

.livro:hover {
    cursor: pointer;
}

.livro .nome {
    font-weight: bold;
}

.formulario-add-remove {
    margin-left: 20px;
    float: left;
    border-radius: 6px;
    border: 1px solid #ccc;
    word-spacing: 12px;
    line-height: 2;
    padding: 20px;
}
