<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Catálogo De Livros</title>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/logo.png') }}">
        <link href="https://fonts.cdnfonts.com/css/museo" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    </head>

<body>
    <header>
        <div class="header-top">
            <div class="item"><a href="{{ url_for('paginaInicial')}}">Página Inicial</a></div>
            <div class="item"><a href="{{ url_for('dashboard')}}">Dashboard</a></div> <!--Administração-->
            <div class="item"><a href="{{ url_for('logout')}}">Sair</a></div>
        </div>
    </header>
    <div class="catalogo">
        <div class="catalogo-topo">
            <h1>Catálogo de Livros</h1>
            <!-- botao para pesquisar livro (apenas quando implementar um banco de dados)-->
        </div>
        <div class="catalogo-livros">
        {% for genero in parLivros %}
            <h2>{{ genero.genero }}</h2>
            {% for livro in genero.livros %}
                <div class="livro">
                    <div class="img">
                    <img src="{{ url_for('static', filename='images/' + livro.imagem) }}" title="Ver Descrição"></div>
                    <div class="nome">{{ livro.titulo }}</div>
                    <div class="preco">R${{ livro.preco}}.00</div>
                </div>
            {% endfor %}
        {% endfor %}   
    </div>

    <footer></footer>
</body>
</html>